Emailing Automation.json
{
  "name": "Emailing Automation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -1216,
        112
      ],
      "id": "ffd50b8c-1310-4bcd-bef1-7d7bcb419f88",
      "name": "Gmail Trigger",
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "SkNf8I2c5LJalhMO",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following email from a recruiter and respond in STRICT JSON format.\n\nCategories:\n1. \"JD_Profile\": If the email is about a new job opening, JD, or profile sheet.\n2. \"Shortlist\": If the email contains names or a list of students selected for interviews or next rounds.\n3. \"Misc\": If it's general communication, thank you notes, or non-actionable.\n\nExtract the following fields:\n- category: (One of the three above)\n- company_name: (Name of the company)\n- role: (Job designation)\n- deadline: (If mentioned, else \"N/A\")\n- student_list: (If category is 'Shortlist', list the names found, else empty array [])\n- confidence_score: (0 to 100)\n\nEmail Snippet: {{ $json.text }}\n\nJSON Output:\n{\n\n}\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -704,
        112
      ],
      "id": "489868f3-0d45-4010-8467-0a8e277d8494",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -656,
        320
      ],
      "id": "d934591e-570c-45ff-bd8d-390ddc75e551",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "lI3hDh6mkyIjBhIj",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "JD_Profile",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "2919e512-6b55-46ff-ae33-778ca276915a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "JD Path"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "44ec57a0-4342-44ef-8355-c95ac4b48c10",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "Shortlist",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Shortlist Path"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f7f673aa-23da-4b1b-a260-104a085378d6",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "General",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Misc/Ignore"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -336,
        96
      ],
      "id": "8a3b7716-86db-4be3-9a7c-6047b4e327e8",
      "name": "Switch"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1de7kRvNhRRkvhjNdnOXObATT_LhzMndJEIONr0KlKu4",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1de7kRvNhRRkvhjNdnOXObATT_LhzMndJEIONr0KlKu4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1de7kRvNhRRkvhjNdnOXObATT_LhzMndJEIONr0KlKu4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        384,
        0
      ],
      "id": "45894b13-0d43-4253-9d56-03982016a59c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mpbVi8MlD4Sw2a5V",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=gouribindal9406@gmail.com",
        "subject": "=Shortlisted for Placement ",
        "message": "=\" We are pleased to inform you that you have been shortlisted for the job description (JD) we recently received.  ",
        "options": {
          "ccList": "={{ $(\"Code in JavaScript1\").first().json.cc_list }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1024,
        0
      ],
      "id": "b9c91ec3-7044-4cda-ba26-aca82954266a",
      "name": "Send a message",
      "webhookId": "8060721a-d41f-4c68-86d0-e5e1b3e96629",
      "credentials": {
        "gmailOAuth2": {
          "id": "SkNf8I2c5LJalhMO",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1008,
        112
      ],
      "id": "6d9cbb72-098c-46de-b160-6510387b8dcc",
      "name": "Get a message",
      "webhookId": "a0af196e-5e44-42e8-9b62-4fcb9687f198",
      "credentials": {
        "gmailOAuth2": {
          "id": "SkNf8I2c5LJalhMO",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1de7kRvNhRRkvhjNdnOXObATT_LhzMndJEIONr0KlKu4",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1de7kRvNhRRkvhjNdnOXObATT_LhzMndJEIONr0KlKu4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1de7kRvNhRRkvhjNdnOXObATT_LhzMndJEIONr0KlKu4/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Full Name ",
              "lookupValue": "={{ $json.student_name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        384
      ],
      "id": "86fcad2a-5b7d-48ec-89b0-30b462a2f85e",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mpbVi8MlD4Sw2a5V",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawText = items[0].json.text;\n\n// Clean LLM markdown\nconst cleaned = rawText\n  .replace(/```json/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\nconst parsed = JSON.parse(cleaned);\n\n// 🔥 CORRECT WAY to get threadId\nconst threadId = $items(\"Get a message\")[0].json.threadId;\n\nreturn parsed.student_list.map(name => ({\n  json: {\n    student_name: name,\n    threadId: threadId\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        384
      ],
      "id": "b48b0fcc-a93d-4e07-898b-f6f58610e849",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        112,
        224
      ],
      "id": "9eb1d080-69f5-46e1-a07c-3b1201fb930f",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "lI3hDh6mkyIjBhIj",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI placement screening assistant. \nAnalyze the following Job Description and extract specific numerical criteria.\n\nJOB DESCRIPTION:\n{{ $node[\"Get a message\"].json.textAsHtml }}\n\nInstructions:\n1. Extract \"min_cgpa\": Look for minimum CGPA required. If not mentioned, return 0.\n2. Extract \"max_backlogs\": Look for maximum backlogs allowed. If not mentioned, return 99.\n3. Determine \"eligible\": Based ONLY on the JD, is there enough info to start screening? (True/False).\n\nReturn ONLY a valid JSON object. No extra text.\n\n{\n  \"min_cgpa\": 7.5,\n  \"max_backlogs\": 0,\n  \"eligible\": true\n}\n\"IMPORTANT: Return raw JSON only. Do NOT include markdown code blocks like ```json or any other text.\"",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        0,
        0
      ],
      "id": "80a39fa8-b9e5-4d80-86a7-3e041e25f0d1",
      "name": "Basic LLM Chain1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const threadId = $node[\"Gmail Trigger\"].json.threadId;\n\n\nconst students = $input.all();\nconst llmRaw = $node[\"Basic LLM Chain1\"].json.text;\n\nconst criteria = JSON.parse(llmRaw.replace(/```json|```/g, \"\").trim());\n\nconst eligible = students.filter(s => {\n  const d = s.json;\n  return (\n    d[\"B.Tech CGPA\"] >= (criteria.min_cgpa || 0) &&\n    d[\"10th CGPA or %\"] >= (criteria.min_10th || 0) &&\n    d[\"12th CGPA%\"] >= (criteria.min_12th || 0) &&\n    d[\"TOTAL\"] <= (criteria.max_backlogs || 99)\n  );\n});\n\n\nconst emails = eligible.map(e => e.json[\"University Email ID\"] || e.json[\"Personal Mail id\"]).filter(m => m);\n\n\nreturn [{\n  json: {\n    cc_list: emails.join(', '),\n    eligible_count: eligible.length,\n    threadId: threadId // YEH ZARURI HAI SEGREGATION KE LIYE\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        0
      ],
      "id": "0e543000-5162-4efd-8287-16946da2d5ea",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=Re: {{$items(\"Get a message\")[0].json.subject}}",
        "message": "=Hi {{ $json[\"Full Name \"] }}\n\nCongratulations! Based on your profile details, you have been shortlisted.\n\nDetails:\n- Branch: {{$json[\"Current Branch\"]}}\n- CGPA: {{$json[\"B.Tech CGPA\"]}}\n\nWe will get back to you with the next steps.\n\nBest regards,  \nPlacement Cell\n",
        "options": {
          "threadId": "={{$items(\"Get a message\")[0].json.threadId}}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        560,
        384
      ],
      "id": "701a2b59-686c-461f-8833-6c4d4c7897b0",
      "name": "Create a draft",
      "webhookId": "3f76acbf-7a44-4ab5-9fc3-e410be9099d5",
      "credentials": {
        "gmailOAuth2": {
          "id": "SkNf8I2c5LJalhMO",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        768,
        384
      ],
      "id": "ed168679-942c-4008-9f9c-820fc5d918c5",
      "name": "Wait",
      "webhookId": "1512f07f-05a6-4e5c-b4e0-1b34c12abe2f"
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        816,
        0
      ],
      "id": "82951597-61bb-4966-9537-1c3cfbabff6e",
      "name": "Wait1",
      "webhookId": "e6e5d23b-d3f5-4078-b713-fc23a3713e26"
    },
    {
      "parameters": {
        "sendTo": "=gouribindal9406@gmail.com",
        "subject": "=Shortlisted for Placement ",
        "message": "=\" We are pleased to inform you that you have been shortlisted for the job description (JD) we recently received.  ",
        "options": {
          "ccList": "={{ $(\"Code in JavaScript1\").first().json.cc_list }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        992,
        384
      ],
      "id": "85e13ebe-1454-4e61-af91-73fd057bf391",
      "name": "Send a message1",
      "webhookId": "8060721a-d41f-4c68-86d0-e5e1b3e96629",
      "credentials": {
        "gmailOAuth2": {
          "id": "SkNf8I2c5LJalhMO",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9dc509a1-b22e-4ce7-8a5b-53dcc782f88e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "490815be35b70d0a32af34bfa377f48bf57d175bdb646d2cdd42df6fdd3b702e"
  },
  "id": "P0raqAezeKiPVMSY",
  "tags": []
}